@import '../../../assets/styles/theme';

.form-field {
    display: flex;
    align-items: flex-start;
    margin-bottom: var(--padding-large);

    .label {
        width: 40%;
        padding-top: 10px;
        padding-right: var(--padding-midi);
        text-align: right;
    }

    .component {
        width: 60%;
        flex-grow: 1;
    }

    .error {
        display: inline-block;
        margin-top: 10px;
        color: var(--red-light-color);
        font-size: 0.9rem;
    }
}

@each $tone in $tones {
    .label .select.#{$tone} + div {
        color: var(--#{$tone}-font-color-1);
        border: var(--#{$tone}-border);
        background: var(--#{$tone}-background);
    }
}
