@import '../../assets/styles/mixins';
@import '../../assets/styles/theme';

.rate-widget {
    @include for-phone-only {
        grid-column-end: span 6;
    }

    @include for-tablet-portrait-up {
        grid-column-end: span 4;
    }

    @include for-desktop-up {
        grid-column-end: span 2;
    }

    grid-row-end: span 1;
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;

    .rate {
        display: flex;
        font-size: 2rem;
        text-align: center;
        justify-content: space-between;
        align-items: center;

        .value {
            flex-grow: 1;
        }
    }

    .header {
        height: 35px;
        display: flex;
        justify-content: flex-end;
    }

    .content {
        padding: 0 var(--padding-midi);

        .currency {
            font-size: 1.7rem;
        }

        .date {
            display: block;
        }

        .currency,
        .date {
            margin-bottom: var(--padding-midi);
        }
    }
}

.settings .rate-widget {
    @include for-phone-only {
        grid-column-end: span 12;
    }

    @include for-tablet-portrait-up {
        grid-column-end: span 6;
    }

    @include for-desktop-up {
        grid-column-end: span 4;
    }
}

@each $tone in $tones {
    .rate-widget.#{$tone} {
        border: var(--#{$tone}-border);
        background: var(--#{$tone}-background-2);
        color: var(--#{$tone}-font-color-1);

        .date {
            color: var(--#{$tone}-font-color-2);
        }
    }
}

@each $color in $colors {
    .rate-widget.#{$color} .currency-color {
        color: var(--#{$color}-color);
    }
    .rate-widget.#{$color}.active {
        border-color: var(--#{$color}-color);
        border-width: 2px;
    }
}
